* {
  margin: 0;
  padding: 0;
  border: none;
  color: black;
  font: inherit;
  background-color: transparent;  
}

body {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  background-color: #c0c0c0;
}

#container {
  width: 80%;
  min-width: 400px;
  max-width: 600px;
  margin: 50px auto 0 auto; 
  padding: 1em;
  background-color: white;
}

.news-widget {
  position: relative;
  padding: 0.5em 0.5em 1.5em 0.5em;
  border: 1px solid black;  
  border-radius: 1em;
}

.news-widget .header {
  display: flex;
  justify-content: space-between;
}

.news-widget .title {
  margin-top: 0.2em;
  font-size: 1.2em;
}

.news-widget .upload-link:hover {
  color: blue;
}

.news-widget .news {
  max-height: 400px;
  margin-top: 1.5em;
  overflow: hidden auto;
}

.news-widget .new:not(:first-child) {
  margin-top: 1em; 
}

.news-widget .datetime {
  display: block;
  width: fit-content;
  font-size: 0.8em;
  color: #606060;
}

.news-widget .new-container {
  display: flex;
  align-items: flex-start;
  margin-top: 0.8em;
}

.news-widget .new-image-container {
  background-color: lightgray;
}

.news-widget .new-image {
  display: block;
}

.news-widget .new-text-container {
  margin-left: 1em;
}

.news-widget .new-text {
  color: #606060;
}

.news-widget .error {
  margin-top: 2em;
  text-align: center;
  font-size: 0.7em;
  color: red;
}

.hidden {
  display: none;
}
